@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Lora&family=Roboto+Slab&family=Zen+Antique&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Zen Antique', serif; */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #808080;
}
.container{
    display: flex;
    justify-content: center;
}
/* main body styling */
.mainBody{
width: 450px;
max-width: 768px;
background-color: black;
min-height: 200vh;
display: flex;
flex-direction: column;
}
.topPanel{
    display: flex;
    flex-direction: column;
    height: 20vh;
}
.restPanel{
    height: 13vh;
}
.restPanel .restItem{
    background-color: #000000;
    margin: 5px 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    
    
}
.restPanel .restItem img{
    height: 10vh;
    border-radius: 10px;
    opacity: 50%;
    
}
.restItem .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffbf00;
  }

.slick-slider {
    margin-bottom: 0px!important;
}
.slick-arrow{
    display: none!important;
}
.catPanel{
    height: 5vh;
    border-top:1px  solid #ffbf00;
    border-bottom:1px  solid #ffbf00;
}


/* Item Panel styling */
.bodyPanel h2{
font-size: 50px;
font-weight: 600;
text-align: center;
margin: 5px auto;
color: #ffbf00;
font-family: 'Bonheur Royale', cursive;
}
.itemPanel{
    display: flex;
    flex-direction: column;
    

}
.itemPanel .item{
display: flex;
flex-direction: row;
align-items: center;
min-height: 100px;
color: aliceblue;
font-family: 'Lora', serif;
box-shadow: 2px 0px 2px 0px;
}
.itemPanel .item .itemImage{
    width: 100px;
}
.itemPanel .item .itemImage img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
    border: 1px solid #ffbf00;
}
.itemPanel .item .itemInfo{
    margin: 0px 10px;
    line-height: 30px;
    width: 150px;
    display: flex;
    flex-direction: column;
}
.itemPanel .item .itemInfo p:nth-child(1){
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .2px;
    
}
.itemPanel .item .itemInfo p:nth-child(2){
    font-size: 12px;
    
}
.itemPanel .item .itemPrice{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.itemPanel .item .itemPrice p{
    font-size: 14px;
    font-family: 'Zen Antique', serif;
    letter-spacing: .5px;
    line-height: 30px;
}
.itemPanel .item .itemPrice a{
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color:#ffbf00;
    text-decoration: none;
    color: #000000;
}
  .btn {
    border: none;
    outline: none;
    padding: 7px 16px;
    background-color:#bf9b30;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color:#ffbf00;
  }
  
  .btn.active {
    background-color:#ffbf00;
    color: white;
  }
/* bottom navigation styling starts from here */

.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    height: 50px;
    box-shadow: 0 -2px 5px -2px #333;
    background-color: rgb(0, 0, 0);
    color: #bf9b30;
    font-family: 'Zen Antique', serif;
  }
  .mobile-bottom-nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mobile-bottom-nav__item--active {
    color: #bf9b30;
  }
  .mobile-bottom-nav i{
      color:  	#ffbf00;
      font-size: 14px;
      margin: 3px auto;
  }
  .mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
  }
  /* media quaries  */
  @media (max-width:400px){
    .itemPanel .item .itemImage{
        width: 80px;
    }
    .itemPanel .item .itemImage img{
        width: 60px;
        height: 60px;
        margin-left: 40px;
    }
    .itemPanel .item .itemInfo{
        margin: 0px 30px;
        width: 100px;
    }
    .itemPanel .item .itemPrice{
        width: 150px;
    
    }
}